@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --border-color: rgba(
    170,
    170,
    170,
    0.6
  ); /* Replace with your desired border color */
  --icon-color: #9c9b9b; /* Replace with your desired icon color */
  --btn-color: #58a09a;
  --primary-color: #58a09a; /* Replace with your desired button color */
  --navbar_small_screen: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

body {
  font-family: "Quicksand", "Avenir Next LT Pro", sans-serif;
  background: #eee;
  width: 100vw;
  font-size: 16px;
  overflow: hidden;
}

/*  Main menu */
.main-menu {
  position: relative;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 10px 25px;
  background-color: #fff;
  height: 20vh;
}

/* Top Menu */
.main-menu .menu-top,
.main-menu .menu-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Top menu => right / Left common style; */
.menu-top__right,
.menu-top__left {
  display: flex;
  align-items: center;
}

/* Top Menu => Left Side; */
.menu-top__left {
  flex: 0.6;
}

.logoDiv {
  width: 200px;
}
.logoImage {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
/* .menu-top__left > div {
  margin-right: 10px;
} */

/* Top Menu => Right Side; */
.menu-top__right {
  flex: 0.4;
  justify-content: flex-end;
}

.menu-top__right > div {
  margin-left: 10px;
  width: calc(max-content + 10px);
  padding: 5px;
  cursor: pointer;
}

.menu-top__right > div:not(:last-of-type):hover {
  /* padding: 0px; */
  background: #dfdfdf;
}

/* Search bar */
.searchBox {
  width: 40%;
  display: flex;
  border-bottom: 2px solid #aaaaaa;
  padding: 10px;
}
.searchBoxInput {
  flex: 0.95;
  border: none;
  font-size: 35px;
  font: inherit;
  border: none;
  outline: none;
}

.searchBoxIcon:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.searchBoxIcon {
  font-size: 25px;
  color: #aaaaaa;
  text-align: right;
  flex: 0.05;
}
/* Menu Bottom */

.menu-bottom {
  position: absolute;
  bottom: 15px;
  left: 0px;
  padding: 0px 24px;
}

.menu-bottom_smallScreen {
  display: none;
}
.menu-left {
  flex: 0.8;
  display: flex;
  align-items: center;
}

.menu-left > div > span:hover {
  color: var(--primary-color);
}

.menu-left > div {
  cursor: pointer;
}

.menu-left > div:not(:first-of-type) {
  margin-left: 25px;
}

.menu-right {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

/*  #################### MAIN-CONTENT ################### */
.container {
  width: 100%;
  height: 80vh;
  position: relative;
}
.main-content {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  background: url("../images/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: scaleImage 2s ease-in-out forwards;
}

/* Background image animation; */
@keyframes scaleImage {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}

/* Utility classes */

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.hover-title {
  font-size: 1.5rem;
}

.hover {
  padding: 9px 18px 9px 0px;
}

.hover:hover {
  color: var(--primary-color);
}

/*  Margin Classes */
.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

/*  Flex classes */
.row {
  display: flex;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.d-inline {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* Width classess */
.w-65 {
  width: 65%;
}

.w-50 {
  width: 50vw;
}

.w-100 {
  width: 100%;
}

.image-size {
  object-fit: cover;
  width: 250px;
  height: 150px;
}
.border-gray {
  border: 1px solid var(--border-color);
}

.icon-color {
  color: var(--icon-color);
  -webkit-text-stroke: 0.5px white;
  font-size: 1rem;
}

.btn-primary {
  background: var(--btn-color);
  color: #fff;
  padding: 6px 10px !important;
  cursor: pointer;
  border-radius: 5px;
}

/* Dropdown styling; */
.dropdown {
  position: relative;
}

.dropdown > .dropdown-options,
.dropdown_full > .dropdown-options {
  position: absolute;
  top: 110%;
  background-color: #fff;
  display: none;
  z-index: 1000;
  padding: 10px;
  /* border: 1px solid var(--border-color); */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  /* max-width: 250px; */
  width: 100%;
  left: -1px;
  min-width: 250px;
}

.dropdown > .registration_dropdown {
  color: #000;
  min-width: 300px !important;
  left: -190%;
  padding: 30px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown > .registration_dropdown a,
.dropdown > .registration_dropdown h3 {
  color: #000;
  padding: 10px 0px;
  font-size: 16px;
}

.dropdown > .registration_dropdown a:hover {
  color: var(--primary-color);
}

.menutwo_registration_dropdown {
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.menutwo_registration_dropdown a {
  color: #000;
}

.dropdown > .dropdown-options a {
  transition: all 0.2s ease-out;
  display: block;
}

/* Since I don't want on the last (a) of the dropdown */
.dropdown > .dropdown-options a:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.dropdown > .dropdown-options > a:hover {
  color: var(--btn-color);
}

/* When someone hover over the dropdown the dropdown options appears */
/* .dropdown:hover > .dropdown-options {
  display: block;
} */

/* Large Dropdown */

.dropdown_w100 > .dropdown-options__w100 {
  width: 90vw;
  /* display: flex; */
  justify-content: space-around;
  padding: 10px 40px;
}

/* .dropdown_w100:hover > .dropdown-options__w100 {
  display: flex;
} */

.dropdown-options__w100 > div {
  flex: 1;
}
.dropdown-options__w100-second {
  padding-right: 15px;
  border-right: 2px dashed var(--border-color);
}

.dropdown-options__w100-third {
  padding-left: 20px;
}

/* This will make the dropdown be flex when hovered over */

/* .dropdown_full:hover > .dropdown-flex-hovered, */
/* .dropdown:hover > .dropdown-flex-hovered {
  display: flex !important;
  padding: 40px;
} */

/* Personal Excellence Dropdown */
#dropdown_personExcellence .w-35 {
  width: 35vw;
}

#dropdown_personExcellence .p-40 {
  padding: 40px;
}

.dropdown_full > .dropdown-options {
  padding: 40px;
}
.dropdown > .dropdown-flex-hovered {
  width: 60vw;
}

.dropdown-flex-hovered > div {
  flex: 1;
}

.dropdown > .about_dropdown {
  padding: 30px;
}

.about_dropdown > a:not(:last-of-type) {
  padding: 10px 0px;
}

/* Small Screen Navbar */
.navbar_small_screen {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.close {
  display: none;
}
.open {
  display: block !important;
  animation: opacityAnimation 0.3s ease-in;
}

.open_flex {
  display: flex !important;
  animation: opacityAnimation 0.3s ease-in;
}

/* Animation for the opening of the tabs of small screen navbar */
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* Media Query for screen that has height greater then 700px */
@media (min-height: 800px) {
  .main-menu {
    height: 15vh;
  }

  .menu-top {
    padding-top: 15px;
  }
  .container {
    height: 85vh;
  }
}

/*  For screens less then 1024px */
@media (max-width: 1024px) {
  .main-menu {
    padding: 10px;
    height: 18vh;
  }

  .container {
    height: 82vh;
  }
  .main-menu > .menu-bottom {
    display: none;
  }

  /* Small Navbar */
  .navbar_small_screen {
    /* position: relative; */
    z-index: 1050;
    background-color: var(--navbar_small_screen);
    width: 100vw;
    height: 100%;
    position: fixed;
    padding: 0px;
    overflow: scroll;
  }

  .navbar_small_screen-row {
    padding: 10px;
  }

  .navbar_small_screen-row:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  .fa-plus_small_navbar:hover {
    color: var(--primary-color);
    cursor: pointer;
  }

  .main-menu > .menu-top__left {
    flex: 0.3;
  }

  .main-menu > .menu-top__right {
    flex: 0.7;
  }

  .menu-top__left > .logoDiv {
    width: 140px;
    margin: 0px;
  }

  .hover {
    padding: 0px 0px 10px 0px !important;
  }

  .navbar_small_screen h2 {
    font-weight: 600;
    font-size: 17px;
  }

  .navbar_small_screen h3 {
    font-weight: normal;
    font-size: 16px;
  }

  .navbar_small_screen .row {
    align-items: flex-start;
  }

  .navbar_small_screen a,
  .navbar_small_screen p {
    font-size: 16px;
  }

  .d-none_small_screen {
    display: none;
  }

  .fontSize_smallScreen {
    font-size: 16px !important;
  }

  .menu-bottom_smallScreen {
    display: flex;
  }
}
